@font-face {
  font-family: "Graviton-LedRegular";
  src: url(fonts/Graviton-LedRegular.otf);
}

body
{    background: linear-gradient(rgb(52, 72, 83) 0%, rgba(40, 66, 80, 0.733) 40%, rgba(40, 66, 80, 0.733) 60%, rgb(52, 72, 83) 100%) 0% 0% / cover; }
p,div.text{
  font-family: dinregular, Helvetica, Arial, sans-serif;
}
img.logoHeader{
  margin-top:30px;
}
a.jobs2:visited,a.jobs3:visited,a.ueber_uns1:visited,a.ueber_uns3:visited,a.benefits1:visited,a.benefits2:visited,a.jobs2,a.jobs3,a.ueber_uns1,a.ueber_uns3,a.benefits1,a.benefits2{
  color: white;
  text-decoration: none;
  font-size:1.1rem;
}
a.jobs1,a.ueber_uns2,a.benefits3,a.jobs2:hover,a.jobs3:hover,a.ueber_uns1:hover,a.ueber_uns3:hover,a.benefits1:hover,a.benefits2:hover,a.jobs1:hover,a.ueber_uns2:hover,a.benefits3:hover{
  text-decoration:none;
  font-size:1.1rem;
  color:#97d700;
}

a.jobs1, .jobs2, .jobs3, .ueber_uns1 ,.ueber_uns2,.ueber_uns3,.benefits1,.benefits2,.benefits3,a.home {
  margin: 8px 0 20px 14px;
}
.Zeile{
  width: 100%;
  height: 180px;
  display: block;
}
nav.innere_Zeile,.innere_Zeile{
  width:1000px;
  height:100%;
  display:block;
  margin: auto;
  
  
}
.logo{
  height:100%;
  display: table;
  float:left;
  vertical-align:middle;
}
.text{
  float:right;

}
.Home,.verbindung{
  float:right;
  display:block;
  
}
.verbindung{
  margin-top: 60px;
}
.Home{
  margin-top:30px;
  
}
a.home{
  color: white;
  text-decoration: none;
  font-size:16px;
}
a.home:hover{
  color:#97d700;
  text-decoration:none;
  font-size:1.0rem;
}
.footer{
  width: 1000px;
  height:475px;
  display:block;
  margin:auto;
  text-align: center;
  
  color:white;
}
h3.UeberschriftFooter{
  font-family: "Graviton-LedRegular";
  font-size: 3rem;
  font-weight: 400;
  margin-bottom:0;
  
  
}
.GmbH{
  margin: auto;
  width: 700px;
  height:100px;
  
  text-align:left;
  margin-top:20px;
}

.untereBox{
  display:flex;
  margin:auto;
  width:450px;
  height:150px;
  
}
.Kontakt{
  margin: auto;
  width:250px;
  height:150px;
  
  
  text-align:left;
}
.FolgeUns{
  margin:auto;
  
  width:200px;
  height:150px;
  
  text-align:left
}
p.ueberschrifth6{
  font-size:1.25rem;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  margin-bottom:0;
  margin-top:0;
  float:left;
}
p.copyright{
  margin-bottom:20px;
}
.main{
  width:1000px;
  height:100px;
  

}
p.motivation{
  margin-top:0;
}
a.linksFooter{
  color:white;
  text-decoration:none;
  font-size: 1rem;
  font-family:dinregular, Helvetica, Arial, sans-serif ;
  
}
a.linksFooter:hover{
  color:#97d700;
}
a.mainLink{
  border-style:solid;
  border-width:1px;
  color:rgba(255,255,255,0.75);
  text-decoration:none;
  font-size: 1rem;
  font-family:dinregular, Helvetica, Arial, sans-serif ;
  padding:2px 5px 2px 5px;
}
a.mainLink:hover{
  color:white;
  background:#97d700;
  border-color:#97d700;
}
.Hauptteil{
  margin:auto;
  width:1200px;
  /*background-color: beige;*/
  margin-top: 50px;
  
}
.Initiativbewerbung2{
  margin:auto;
  text-align:center;
  margin-top:100px;
}
.Initiativbewerbung{
  margin:auto;
  text-align:center;
  margin-top:250px;
  margin-bottom:50px;
  width:100%;
}
a.initiativBewerbung{
  border-style:solid;
  border-width:1px;
  color:white;
  font-size:1rem;
  font-family:dinregular, Helvetica, Arial, sans-serif ;
  padding:7px 117px 7px 117px;
  opacity: 0.75;
  display: inline-block;
  text-decoration:none; 
}


a.initiativBewerbung:hover{
  opacity: 1;
}
a.initiativBewerbung:hover{
  color:white;
  background:#97d700;
  border-color:#97d700;
  text-decoration:none; 
}
.Einleitung, .benefitsKasten{
  margin:auto;
  background-color:white;
  color:black;
  width:1000px;
  height:500px;
  text-align: center;
  transition: background-color 0.3 ease;
  
}
p.Ueberschrift{
  font-size:3rem;
  margin-top:60px;;
  margin-left:600px;
  font-family:"Graviton-LedRegular" ;
  font-weight:200;
}
.innereEinleitung{
  padding-top:25px;
  margin: 0px 25px 25px 25px;
  padding-bottom:85px;
}
.Einleitung:hover , .benefitsKasten:hover {
  color:white;
  background:#97d700;
  
}
img.headBild{
  width:100%;
  height:400px;
}
img.einleitungBild{
  width:600px;
  height:500px;
  float:left;
}
.karriereportal{
  margin:auto;
  text-align:center;
}
p.Karriereportal{
  font-size: 4rem;
  font-family: "Graviton-LedRegular";
  color:white;
}
p.Einleitungstext{
  margin-left:600px;
  font-size:1.1rem;
}
p.hbenefits{
  font-size:3rem;
  margin-top:60px;;
  margin-right:600px;
  font-family:"Graviton-LedRegular" ;
  font-weight:200;
}
a.abenefits,a.hier{
  text-decoration: none;
  color:black;
  
}
a.abenefits:hover,a.hier:hover{
  color:white;
  text-decoration:none; 
}
.textBenefits{
  padding-top:25px;
  margin: 0px 25px 25px 25px;
  padding-bottom:145px;
}
.benefitsKasten{
  margin-top:100px;
  
}

img.reeperbahnAusgang{
  float:right;
  width:600px;
  height:500px;
}
p.hberufe{
  font-size:3rem;
  font-family: "Graviton-LedRegular";
  color:white;
}
.hBerufe{
  text-align:center;
  margin:auto;
}
.zeile1, .zeile2, .zeile3, .zeile4{
  margin:auto;
  width:1000px;
  height:500px;
  /*background-color:aqua;*/
}
img.img1, img.img3{
  margin-top:100px;
  width:300px;
  height:300px;
}
img.img3{
  transform: scaleX(-1);
}
.imgZeile1, .imgZeile3{
  float:left;
  height:500px;
  height:300px;
}
.berufe1{
  
  color:black;
}
.CloudSecurityConsultant, .ConsultantM365, .SeniorSolutionArchitect,.WerkstudentIT{
  height:500px;
  width:300px;
  margin-right:45px;
  background-color:white;
  display:inline-block;
  text-align:center;
}
.Consultant_Sharepoint, .ConsultantPowerPlatform, .ConsultantWindowsClient, .ITProzessmanager {
  height:500px;
  width:300px;
  margin-left:45px;
  background-color:white;
  display:inline-block;
  text-align:center;
}
.bilderZeilen{
  width:300px;
  height:300px;
  display:flex;
  overflow:hidden;
  align-items: center;
  justify-content: center;
}
img.imgZeilen{
  width:300px;
  height:300px;
}
img.CWC, img.SSA{
  
  width:500px;
}
img.ITP{
  width:550px;
}
img.CSC{
  width:430px;
}
img.CPP{
  width:450px;
}

h4{
  margin:20px 10px 10px 10px;
  font-size:1.6rem;
  font-family:"Graviton-LedRegular";
  font-weight: 300;
  padding-top:20px;

}
p.berufText{
  margin:20px 10px 10px 10px;
}
button.zeigen, button.verstecken{
  float:right;
  margin: 0px 105px 100px 0;
  background-color: rgba(0,0,0,0);
  color:rgba(255,255,255,0.75);
  border-style:solid;
  cursor: pointer;
  border-color:white;
  border-width:1px;
  padding-right:20px; padding-left:20px; padding-top:3px; padding-bottom:3px;
}
button.zeigen:hover, button.verstecken:hover{
  background:#97d700;
  color:rgba(255,255,255,1);
  border-color: #97d700;
}
.content{
  display:none;
}
button.verstecken{
  display:none;
}
a.linksBerufe{
  color:black;
  text-decoration:none;
}
a.linksBerufe:hover .ConsultantPowerPlatform ,a.linksBerufe:hover .Consultant_Sharepoint, a.linksBerufe:hover .CloudSecurityConsultant,
a.linksBerufe:hover .ConsultantM365,a.linksBerufe:hover .ConsultantWindowsClient,a.linksBerufe:hover .ITProzessmanager,a.linksBerufe:hover .SeniorSolutionArchitect,
a.linksBerufe:hover .WerkstudentIT{
  color:white;
  background:#97d700;
}
img.img2,img.img4{
  margin-top:100px;
  width:300px;
  height:300px;
  float:right;
}
.zeile2,.zeile3, .zeile4{
  margin-top: 100px;
}
.CloudSecurityConsultant,.SeniorSolutionArchitect{
  float:left;
}
.ITProzessmanager{
  float:right
}
p.benefitstext{
  margin-right:600px;
  font-size:1.1rem;
}
/*Über uns hauptteil*/
.Hauptteilüs{
  margin:auto;
  width:1400px;
  
}
.was{
  width:1100px;
  background:white;
  margin:auto;
}
.wasText{
  width:440px;
  float:left;
  text-align:center;
  
}
.video{
  width:500px;
  display:inline-block;
  margin:10px 0 10px 0;
  
}
p.hwasText{
  font-family:"Graviton-LedRegular";
  font-size: 2.3rem;
  margin-top:20px;
}
p.pwasText{
  padding-left:20px; padding-right:20px;
  
}
.links{
  
  width:800px;
  margin:auto;
  margin-top:100px;
}
.rechts{
  /*background: moccasin;*/
  width:800px;
  margin:auto;
  margin-top:100px;
}
.kultur{
  width:800px;
  height:500px;
}
img.imgkultur{
  width:300px;
  height:320px;
  float:right;
  margin-top:100px;
}
.textKultur{
  background:white;
  text-align:center;
  float:left;
  width:500px;
  height:320px;
  margin-top:100px;
}
p.hkultur,p.hnachhaltigkeit{
  font-family:"Graviton-LedRegular";
  font-size:2.3rem;
}
p.pkultur,.pnachhaltigkeit,ul{
  font-size:1.1rem;
  font-family:dinregular, Helvetica, Arial, sans-serif ;
  padding:0 10px 40px 10px;
}
img.imgnachhaltigkeit,img.imgnachhaltigkeit2,img.imgnachhaltigkeit3{
  width:300px;
  height:312px;
  float:left;
  
}
.imgNachhaltigkeit{
  width:300px;
  height:900px;
  float:left;
}
.textNachhaltigkeit{
  text-align:center;
  background:white;
  width:500px;
  float:right;

}
ul{
  float:left;
  margin:20px;
}
li{
  margin-bottom:5px;
}
.Nachhaltigkeit{
  margin-bottom:140px;
  height:850px;
  width:800px;
}
.hrechts{
  text-align:center;
}
img.DHbild, img.NLbild, img.KMbild,img.SGbild,img.SSbild,img.MLbild,img.PTbild{
  width:150px;
  height:150px;
}
.DHbild,.KMbild,.SSbild,.PTbild{
  float:left;
}
.NLbild,.SGbild,.MLbild{
  float:right;
}
.DH,.NL,.KM,.SG,.SS,.ML,.PT{
  margin-bottom:60px;
  height:150px;
  

}
.DHtext,.KMtext,.SStext,.PTtext{
  
  background:white;
  margin:10px 10px 10px 10px;
  margin-left: 150px;
  justify-content:center;
  padding:2px 10px 2px 10px;
  border-radius:20px;
  

  
}

.NLtext,.SGtext,.MLtext{
  
  background:white;
  margin:10px 10px 10px 10px;
  margin-right: 150px;
  justify-content:center;
  padding:2px 10px 2px 10px;
  border-radius:20px;
  
}
.SS,.DH{
  display:flex;
  flex-direction:row;
  align-items: center;
}
.SStext, .DHtext{
  margin-left:0;
  width:100%;
}
p.hrechts{
  font-family:"Graviton-LedRegular";
  font-size:2.3rem;
  color:white;
}
.footerhelfer{
  width:100%;
  color:rgba(0,0,0,0);
}
.headerBildBenefits{
  height:400px;
  overflow:hidden;
}
img.kicker{
  width:100%;
  
}
p.hBenefits{
  font-family:"Graviton-LedRegular";
  font-size:3.5rem;
  color:white;
}
.bÜberschrift{
  margin:auto;
  text-align:center;
  margin-top:50px;
}
.bEinleitung{
  width:1000px;
  height:400px;
  margin:auto;
  background:white;
}
img.imgbEinleitung{
  width:400px;
  height:400px;
  float:left;
}
.mainTextb{
  display:inline-block;
  width:600px;
  height:400px;
  font-size:1rem;
}
p.pMainTextb{
  padding:0px 20px 10px 20px;

}
p.hMainTextb{
  font-family:"Graviton-LedRegular";
  font-size:2.3rem;
  margin:30px 10px 20px 10px;
}
.ÜberschriftMainTextb{
  text-align:center;
}
.alleBenefits{
  width:1200px;
  
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  grid-template-rows:200px;
  background:rgba(105,103,127,0.5);
  margin:auto;
  margin-top:100px;
  border-radius:50px 50px 50px 50px;

}
.benefit1,.benefit2,.benefit3,.benefit4,.benefit5,.benefit6,.benefit7,.benefit8,.benefit9{
  display:inline-block;
  width:500px;
  height:100px;
  margin-top:100px;
  margin-left:50px;
}
.benefit9{
  margin-bottom:150px;
}

img.imgBenefits{
  width:125px;
  height:100px;
  float:left;
}
.texteBenefits{
  background:white;
  width:377px;
  margin-left:125px;
  border-radius:20px;
  
  
}
button.buttonBenefitsShow,button.buttonBenefitsShow2{
 display:block;
 float:right;
 border:none;
 cursor:pointer;
 background:rgb(243,243,243);
 padding:7px 15px 4px 15px;
 border-radius:0 20px 20px 0;
}
 

button.buttonBenefitsHide,button.buttonBenefitsHide2{
  display:none;
  float:right;
  border:none;
  cursor:pointer;
  background:rgb(243,243,243);
  padding:7px 15px 8px 15px;
  border-radius:0 20px 0 0;
}
button.buttonBenefitsShow2,button.buttonBenefitsHide2{
  padding:20px 15px 20px 15px;
}
p.hVorteile{
  font-family:"Graviton-LedRegular";
  font-size:1.2rem;
  margin:20px 10px 20px 10px;
  padding-bottom:5px;
  padding-top:2px;
}
p.pVorteile{
  font-size:0.9rem;
  margin:0px 10px 30px 10px;
  display:none;
  padding-bottom:10px;
}
.htexteBenefits{
  width:300px;
}
.Hauptteilüs{
  margin-top:100px;
}
.Einwilligungserklärung{
  margin:auto;
  width:1200px;
  color:white;
  margin-top:100px;
  margin-bottom:50px;
  opacity:0.75;
}
.hEinwilligung{
  text-align:center;
}
p.heinwilligung{
  font-family:"Graviton-LedRegular";
  font-size:2.3rem;
  font-weight:500;
}
.pEinwilligung{
  width:900px;
  margin:auto;
  font-size:1.1rem;
  text-align:center;
}
.randomBild{
  width:600px;
  margin:auto;
  margin-bottom:100px;
}
img.tisch{
  width:600px;
}
.HauptteilJobs{
  width:1200px;
  margin:auto;
}
.hEinleitungssatz{
  margin:auto;
  text-align:center;
}
p.heinleitungssatz{
  font-family:"Graviton-LedRegular";
  font-size:3rem;
  color:white;
}
.einführung,.aufgaben{
  width:800px;
  background:white;
  margin:auto;
  height:350px;
  margin-top:100px;
}
img.imgeinführung{
  width:300px;
  height:300px;
  float:left;
  margin-left:10px;
  margin-top:25px;
  
}
.einführungText,.aufgabenText{
  width:490px;
  display:inline-block;
}
.hEinführungstext,.hAufgabenText{
  font-size:2.3rem;
  font-weight:500;
  text-align:center;
}
p.heinführungstext,p.haufgabenText{
  font-family:"Graviton-LedRegular";
  margin-bottom:0;
  margin-top:20px;
}
.pEinführungstext,.pAufgabenText{
  margin:20px 20px 20px 20px;
}
img.imgaufgaben{
  width:300px;
  height:300px;
  float:right;
  margin-right:10px;
  margin-top:25px;
}
ul.paufgabenText{
  margin-top:0px;
}
.Profil,.angebot{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:500px;
}
img.imgprofil{
  width:300px;
  height:300px;
  float:left;
  margin-left:10px;
  margin-top:100px;
}
img.imgangebot{
  width:300px;
  height:300px;
  float:right;
  margin-right:10px;
  margin-top:100px;
}

p.peinführungText{
  font-size:1.1rem;
}
.einführung2{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:700px;
}
img.imgeinführung2{
  width:300px;
  height:300px;
  float:left;
  margin-left:10px;
  margin-top:200px;
}
.aufgaben2{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:450px;
}
img.imgaufgaben2{
  width:300px;
  height:300px;
  float:right;
  margin-right:10px;
  margin-top:75px;
}
.Profil2{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:800px;
}
img.imgprofil2{
  width:300px;
  height:300px;
  float:left;
  margin-left:10px;
  margin-top:250px;
}
.einführungBild{
  width:300px;
}
.einführung3{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:500px;
}
img.imgeinführung3,img.imgeinführung3{
  width:200px;
  height:200px;
  float:left;
  margin-left:60px;
  margin-right:50px;
  margin-top:33px; 
}
.aufgaben3{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:850px;
}
img.imgaufgaben3{
  width:300px;
  height:300px;
  float:right;
  margin-right:10px;
  margin-top:275px;
}
.profil3{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:800px;
}
img.imgprofil3{
  width:300px;
  height:300px;
  float:left;
  margin-left:10px;
  margin-top:250px;
}
.angebot3{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:650px;
}
img.imgangebot3{
  width:300px;
  height:300px;
  float:right;
  margin-right:10px;
  margin-top:175px;
}
.einführung4{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:700px;
}
img.imgeinführung4{
  width:300px;
  height:300px;
  float:left;
  margin-left:10px;
  margin-top:200px;
}
.aufgaben4{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:600px;
}
img.imgaufgaben4{
  width:300px;
  height:300px;
  float:right;
  margin-right:10px;
  margin-top:150px;
}
.profil4{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:800px;
}
img.imgprofil4{
  width:300px;
  height:300px;
  float:left;
  margin-left:10px;
  margin-top:250px;
}
.angebot4{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:650px;
}
img.imgangebot4{
  width:300px;
  height:300px;
  float:right;
  margin-right:10px;
  margin-top:175px;
}
.einführung5{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:400px;
}
img.imgeinführung5{
  width:300px;
  height:300px;
  float:left;
  margin-left:10px;
  margin-top:50px;
}
.aufgaben5{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:700px;
}
img.imgaufgaben5{
  width:300px;
  height:300px;
  float:right;
  margin-right:10px;
  margin-top:200px;
}
.aufgaben6{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:600px;
}
img.imgaufgaben6{
  width:300px;
  height:300px;
  float:right;
  margin-right:10px;
  margin-top:150px;
}
.profil6{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:600px;
}
img.imgprofil6{
  width:300px;
  height:300px;
  float:left;
  margin-left:10px;
  margin-top:150px;
}
.angebot6{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:700px;
}
img.imgangebot6{
  width:300px;
  height:300px;
  float:right;
  margin-right:10px;
  margin-top:200px;
}
.einführung7{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:500px;
}
img.imgeinführung7{
  width:300px;
  height:300px;
  float:left;
  margin-left:10px;
  margin-top:100px;
}
.aufgaben7{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:800px;
}
img.imgaufgaben7{
  width:300px;
  height:300px;
  float:right;
  margin-right:10px;
  margin-top:250px;
}
.profil7{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:650px;
}
img.imgprofil7{
  width:300px;
  height:300px;
  float:left;
  margin-left:10px;
  margin-top:175px;
}
.angebot7{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:600px;
}
img.imgangebot7{
  width:300px;
  height:300px;
  float:right;
  margin-right:10px;
  margin-top:150px;
}
.TWIT{
  margin:5px;
}
.einführung8{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:400px;
}
img.imgeinführung8{
  width:300px;
  height:300px;
  float:left;
  margin-left:10px;
  margin-top:50px;
}
.aufgaben8{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:550px;
}
img.imgaufgaben8{
  width:300px;
  height:300px;
  float:right;
  margin-right:10px;
  margin-top:125px;
}
.profil8{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:500px;
}
img.imgprofil8{
  width:300px;
  height:300px;
  float:left;
  margin-left:10px;
  margin-top:100px;
}
.angebot8{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:400px;
}
img.imgangebot8{
  width:300px;
  height:300px;
  float:right;
  margin-right:10px;
  margin-top:50px;
}

.container{
  
  padding-top:5px;
  width:600px;
  margin:auto;

}
.container2{
  background:white;
  width:600px;
  margin:auto;
  margin-top:80px;
  padding-top:40px;
  padding-bottom:40px;
}
.error-message {
  color: red;
  display: none;
}
.form-group,.form-group2{
  font-size:1.1rem;
  font-family: dinregular, Helvetica, Arial, sans-serif;
  display:inline-block;
  width:200px;
  height:50px;
  margin:20px 0px 00px 66px;
}
.form-group2{
  margin-top:100px;
  float:left;
  
}
.abschicken{
  margin-top:100px;
  text-align: center;
}
button.Abschicken{
  border-style:solid;
  border-width:1px;
  border-color:white;
  color:white;
  font-size:1rem;
  font-family:dinregular, Helvetica, Arial, sans-serif ;
  padding:7px 117px 7px 117px;
  opacity: 0.75;
  display: inline-block;
  background:rgba(0,0,0,0)
}
button.Abschicken:hover{
  opacity: 1;
  cursor:pointer;
  color:white;
  background:#97d700;
  border-color:#97d700;
}
.schrift{
  width:100%;
}
span.note{
  font-size: 0.9rem;
}
.Berufe{
  margin:100px;
}