@font-face {
  font-family: "Graviton-LedRegular";
  src: url(fonts/Graviton-LedRegular.otf);
}
html{
  width:100%;
}
body
{    background: linear-gradient(rgb(52, 72, 83) 0%, rgba(40, 66, 80, 0.733) 40%, rgba(40, 66, 80, 0.733) 60%, rgb(52, 72, 83) 100%) 0% 0% / cover;
margin:auto;
width:100%; 

}
p,div.text{
  font-family: dinregular, Helvetica, Arial, sans-serif;
}
img.logoHeader{
  margin-top:30px;
}
a.jobs2:visited,a.jobs3:visited,a.ueber_uns1:visited,a.ueber_uns3:visited,a.benefits1:visited,a.benefits2:visited,a.jobs2,a.jobs3,a.ueber_uns1,a.ueber_uns3,a.benefits1,a.benefits2{
  color: white;
  text-decoration: none;
  font-size:1.1rem;
}
a.jobs1,a.ueber_uns2,a.benefits3,a.jobs2:hover,a.jobs3:hover,a.ueber_uns1:hover,a.ueber_uns3:hover,a.benefits1:hover,a.benefits2:hover,a.jobs1:hover,a.ueber_uns2:hover,a.benefits3:hover{
  text-decoration:none;
  font-size:1.1rem;
  color:#97d700;
}

a.jobs1, .jobs2, .jobs3, .ueber_uns1 ,.ueber_uns2,.ueber_uns3,.benefits1,.benefits2,.benefits3,a.home {
  margin: 8px 0 20px 14px;
}
.Zeile{
  width: 100%;
  height: 180px;
  display: block;
  margin:auto;
  display: flex;
  justify-content: center;
}
nav.innere_Zeile,.innere_Zeile{
  width:1000px;
  height:100%;
  display:block;
  margin: auto;
  
  
}
.logo{
  height:100%;
  display: table;
  float:left;
  vertical-align:middle;
  margin-left:20px;
}

.Home,.verbindung{
  float:right;
  display:block;
  
}
.verbindung{
  margin-top: 60px;
}
.Home{
  margin-top:30px;
  
}
a.home{
  color: white;
  text-decoration: none;
  
}
a.home:hover{
  color:#97d700;
  text-decoration:none;
  
}
.footer{
  width: 1000px;
  height:475px;
  display:block;
  margin:auto;
  text-align: center;
  
  
  color:white;
}
h3.UeberschriftFooter{
  font-family: "Graviton-LedRegular";
  font-size: 3rem;
  font-weight: 400;
  margin-bottom:0;
  
  
}
.GmbH{
  margin: auto;
  width: 700px;
  height:100px;
  
  text-align:left;
  margin-top:20px;
}

.untereBox{
  display:flex;
  margin:auto;
  width:450px;
  height:150px;
  
}
.Kontakt{
  margin: auto;
  width:250px;
  height:150px;
  
  
  text-align:left;
}
.FolgeUns{
  margin:auto;
  
  width:200px;
  height:150px;
  
  text-align:left
}
p.ueberschrifth6{
  font-size:1.25rem;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  margin-bottom:0;
  margin-top:0;
  float:left;
}
p.copyright{
  margin-bottom:20px;
}
.main{
  width:1000px;
  height:100px;
  

}
p.motivation{
  margin-top:0;
  float:left;
}
a.linksFooter{
  color:white;
  text-decoration:none;
  font-size: 1rem;
  font-family:dinregular, Helvetica, Arial, sans-serif ;
}
.FUlinks{
  margin-top:6px;
}
a.linksFooter:hover{
  color:#97d700;
  text-decoration: none;
}
a.mainLink{
  border-style:solid;
  border-width:1px;
  color:rgba(255,255,255,0.75);
  text-decoration:none;
  font-size: 1rem;
  font-family:dinregular, Helvetica, Arial, sans-serif ;
  padding:2px 5px 2px 5px;
}
a.mainLink:hover{
  color:white;
  background:#97d700;
  border-color:#97d700;
  text-decoration: none;
}
input.zu_lang{
  font-size:12px;
}
.Hauptteil{
  margin:auto;
  width:100%;
  /*background-color: beige;*/
  margin-top: 50px;
  
}
.Initiativbewerbung2{
  margin:auto;
  text-align:center;
  margin-top:100px;
  margin-bottom:50px;
}
.Initiativbewerbung{
  margin:auto;
  text-align:center;
  margin-top:250px;
  margin-bottom:50px;
  width:100%;
}
a.initiativBewerbung{
  border-style:solid;
  border-width:1px;
  color:white;
  font-size:1rem;
  font-family:dinregular, Helvetica, Arial, sans-serif ;
  padding:7px 117px 7px 117px;
  opacity: 0.75;
  display: inline-block;
  text-decoration:none; 
  
}


a.initiativBewerbung:hover{
  opacity: 1;
}
a.initiativBewerbung:hover{
  color:white;
  background:#97d700;
  border-color:#97d700;
  text-decoration:none; 
}
.Einleitung, .benefitsKasten{
  margin:auto;
  background-color:white;
  color:black;
  width:1000px;
  height:500px;
  text-align: center;
  transition: background-color 0.3 ease;
}


p.Ueberschrift{
  font-size:3rem;
  margin-top:60px;;
  margin-left:600px;
  font-family:"Graviton-LedRegular" ;
  font-weight:200;
}
.innereEinleitung{
  padding-top:25px;
  margin: 0px 25px 25px 25px;
  padding-bottom:85px;
}
.Einleitung:hover , .benefitsKasten:hover {
  color:white;
  background:#97d700;
  
}
img.headBild{
  width:100%;
  height:400px;
}
img.einleitungBild{
  width:600px;
  height:500px;
  float:left;
}
.karriereportal{
  margin:auto;
  text-align:center;
}
p.Karriereportal{
  font-size: 4rem;
  font-family: "Graviton-LedRegular";
  color:white;
}
p.Einleitungstext{
  margin-left:600px;
  font-size:1.1rem;
}
p.hbenefits{
  font-size:3rem;
  margin-top:60px;;
  margin-right:600px;
  font-family:"Graviton-LedRegular" ;
  font-weight:200;
}
a.abenefits,a.hier{
  text-decoration: none;
  color:black;
  
}
a.abenefits:hover,a.hier:hover{
  color:white;
  text-decoration:none; 
}
.textBenefits{
  padding-top:25px;
  margin: 0px 25px 25px 25px;
  padding-bottom:145px;
}
.benefitsKasten{
  margin-top:100px;
  
}

img.reeperbahnAusgang{
  float:right;
  width:600px;
  height:500px;
}
p.hberufe{
  font-size:3rem;
  font-family: "Graviton-LedRegular";
  color:white;
}
.hBerufe{
  text-align:center;
  margin:auto;
}
.zeile1, .zeile2, .zeile3, .zeile4{
  margin:auto;
  width:1000px;
  height:500px;
  /*background-color:aqua;*/
}
img.img1, img.img3{
  margin-top:100px;
  width:300px;
  height:300px;
}
img.img3{
  transform: scaleX(-1);
}
.imgZeile1, .imgZeile3{
  float:left;
  height:500px;
  height:300px;
}
.berufe1{
  
  color:black;
}
.CloudSecurityConsultant, .ConsultantM365, .SeniorSolutionArchitect,.WerkstudentIT{
  height:500px;
  width:300px;
  margin-right:45px;
  background-color:white;
  display:inline-block;
  text-align:center;
}
.Consultant_Sharepoint, .ConsultantPowerPlatform, .ConsultantWindowsClient, .ITProzessmanager {
  height:500px;
  width:300px;
  margin-left:45px;
  background-color:white;
  display:inline-block;
  text-align:center;
}
.bilderZeilen{
  width:300px;
  height:300px;
  display:flex;
  overflow:hidden;
  align-items: center;
  justify-content: center;
}
img.imgZeilen{
  width:300px;
  height:300px;
}
img.CWC, img.SSA{
  
  width:500px;
}
img.ITP{
  width:550px;
}
img.CSC{
  width:430px;
}
img.CPP{
  width:450px;
}

h4{
  margin:20px 10px 10px 10px;
  font-size:1.6rem;
  font-family:"Graviton-LedRegular";
  font-weight: 300;
  padding-top:20px;

}
p.berufText{
  margin:20px 10px 10px 10px;
}
button.zeigen, button.verstecken{
  float:right;
  margin: 0px 105px 100px 0;
  background-color: rgba(0,0,0,0);
  color:rgba(255,255,255,0.75);
  border-style:solid;
  cursor: pointer;
  border-color:white;
  border-width:1px;
  padding-right:20px; padding-left:20px; padding-top:3px; padding-bottom:3px;
}
button.zeigen:hover, button.verstecken:hover{
  background:#97d700;
  color:rgba(255,255,255,1);
  border-color: #97d700;
}
.content{
  display:none;
}
button.verstecken{
  display:none;
}
a.linksBerufe{
  color:black;
  text-decoration:none;
}
a.linksBerufe:hover .ConsultantPowerPlatform ,a.linksBerufe:hover .Consultant_Sharepoint, a.linksBerufe:hover .CloudSecurityConsultant,
a.linksBerufe:hover .ConsultantM365,a.linksBerufe:hover .ConsultantWindowsClient,a.linksBerufe:hover .ITProzessmanager,a.linksBerufe:hover .SeniorSolutionArchitect,
a.linksBerufe:hover .WerkstudentIT{
  color:white;
  background:#97d700;
}
img.img2,img.img4{
  margin-top:100px;
  width:300px;
  height:300px;
  float:right;
}
.zeile2,.zeile3, .zeile4{
  margin-top: 100px;
}
.CloudSecurityConsultant,.SeniorSolutionArchitect{
  float:left;
}
.ITProzessmanager{
  float:right
}
p.benefitstext{
  margin-right:600px;
  font-size:1.1rem;
}
/*Über uns hauptteil*/
.Hauptteilüs{
  margin:auto;
  width:100%;
  
  
}
.was{
  width:1100px;
  background:white;
  margin:auto;
  margin-top:100px;
}
.wasText{
  width:440px;
  float:left;
  text-align:center;
  
}
.video{
  width:500px;
  display:inline-block;
  margin:10px 0 10px 0;
  
}
p.hwasText{
  font-family:"Graviton-LedRegular";
  font-size: 2.3rem;
  margin-top:20px;
}
p.pwasText{
  padding-left:20px; padding-right:20px;
  
}
.links{
  
  width:800px;
  margin:auto;
  margin-top:100px;
}
.rechts{
  /*background: moccasin;*/
  width:800px;
  margin:auto;
  margin-top:100px;
}
.kultur{
  width:800px;
  height:500px;
}
img.imgkultur{
  width:300px;
  height:320px;
  float:right;
  margin-top:100px;
}
.textKultur{
  background:white;
  text-align:center;
  float:left;
  width:500px;
  height:320px;
  margin-top:100px;
}
p.hkultur,p.hnachhaltigkeit{
  font-family:"Graviton-LedRegular";
  font-size:2.3rem;
}
p.pkultur,.pnachhaltigkeit,ul{
  font-size:1.1rem;
  font-family:dinregular, Helvetica, Arial, sans-serif ;
  padding:0 10px 40px 10px;
}
img.imgnachhaltigkeit,img.imgnachhaltigkeit2,img.imgnachhaltigkeit3{
  width:300px;
  height:344px;
  float:left;
  
}
.imgNachhaltigkeit{
  width:300px;
  height:900px;
  float:left;
}
.textNachhaltigkeit{
  
  background:white;
  width:500px;
  float:right;

}
ul{
  float:left;
  margin:20px;
}
li{
  margin-bottom:5px;
}
.Nachhaltigkeit{
  margin-bottom:140px;
  height:1000px;
  width:800px;
  text-align:center;
}
.hrechts{
  text-align:center;
}
img.DHbild, img.NLbild, img.KMbild,img.SGbild,img.SSbild,img.MLbild,img.PTbild{
  width:150px;
  height:150px;
}
.DHbild,.KMbild,.SSbild,.PTbild{
  float:left;
}
.NLbild,.SGbild,.MLbild{
  float:right;
}
.DH,.NL,.KM,.SG,.SS,.ML,.PT{
  margin-bottom:60px;
  height:150px;
  

}
.DHtext,.KMtext,.SStext,.PTtext{
  
  background:white;
  margin:10px 10px 10px 10px;
  margin-left: 150px;
  justify-content:center;
  padding:2px 10px 2px 10px;
  border-radius:20px;
  

  
}

.NLtext,.SGtext,.MLtext{
  
  background:white;
  margin:10px 10px 10px 10px;
  margin-right: 150px;
  justify-content:center;
  padding:2px 10px 2px 10px;
  border-radius:20px;
  
}
.SS,.DH{
  display:flex;
  flex-direction:row;
  align-items: center;
}
.SStext, .DHtext{
  margin-left:0;
  width:100%;
}
p.hrechts{
  font-family:"Graviton-LedRegular";
  font-size:2.3rem;
  color:white;
}
.footerhelfer{
  width:100%;
  color:rgba(0,0,0,0);
}
.headerBildBenefits{
  height:400px;
  overflow:hidden;
}
img.kicker{
  width:100%;
  
}
p.hBenefits{
  font-family:"Graviton-LedRegular";
  font-size:3.5rem;
  color:white;
}
.bÜberschrift{
  margin:auto;
  text-align:center;
  margin-top:50px;
}
.bEinleitung{
  width:1000px;
  height:400px;
  margin:auto;
  background:white;
}
img.imgbEinleitung{
  width:400px;
  height:400px;
  float:left;
}
.mainTextb{
  display:inline-block;
  width:600px;
  height:400px;
  font-size:1rem;
}
p.pMainTextb{
  padding:0px 20px 10px 20px;

}
p.hMainTextb{
  font-family:"Graviton-LedRegular";
  font-size:2.3rem;
  margin:30px 10px 20px 10px;
}
.ÜberschriftMainTextb{
  text-align:center;
}
.alleBenefits{
  width:1200px;
  
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  grid-template-rows:200px;
  background:rgba(105,103,127,0.5);
  margin:auto;
  margin-top:100px;
  border-radius:50px 50px 50px 50px;

}
.benefit1,.benefit2,.benefit3,.benefit4,.benefit5,.benefit6,.benefit7,.benefit8,.benefit9{
  display:inline-block;
  width:500px;
  height:100px;
  margin-top:100px;
  margin-left:50px;
}
.benefit9{
  margin-bottom:150px;
}

img.imgBenefits{
  width:125px;
  height:100px;
  float:left;
}
.texteBenefits{
  background:white;
  width:377px;
  margin-left:125px;
  border-radius:20px;
  
  
}
button.buttonBenefitsShow,button.buttonBenefitsShow2{
 display:block;
 float:right;
 border:none;
 cursor:pointer;
 background:rgb(243,243,243);
 padding:6px 15px 5px 15px;
 border-radius:0 20px 20px 0;
}
 

button.buttonBenefitsHide,button.buttonBenefitsHide2{
  display:none;
  float:right;
  border:none;
  cursor:pointer;
  background:rgb(243,243,243);
  padding:7px 15px 8px 15px;
  border-radius:0 20px 0 0;
}
button.buttonBenefitsShow2,button.buttonBenefitsHide2{
  padding:20px 15px 20px 15px;
}
button.buttonBenefitsShow:hover,button.buttonBenefitsShow2:hover,button.buttonBenefitsHide:hover,button.buttonBenefitsHide2:hover{
  background:#97d700;
  color:white;
}
p.hVorteile{
  font-family:"Graviton-LedRegular";
  font-size:1.2rem;
  margin:20px 10px 20px 10px;
  padding-bottom:5px;
  padding-top:2px;
}
p.pVorteile{
  font-size:0.9rem;
  margin:0px 10px 30px 10px;
  display:none;
  padding-bottom:10px;
}
.htexteBenefits{
  width:300px;
}
.Hauptteilüs{
  margin-top:100px;
}
.Einwilligungserklärung{
  margin:auto;
  width:1200px;
  color:white;
  margin-top:100px;
  margin-bottom:50px;
  opacity:0.75;
}
.hEinwilligung{
  text-align:center;
}
p.heinwilligung{
  font-family:"Graviton-LedRegular";
  font-size:2.3rem;
  font-weight:500;
}
.pEinwilligung{
  width:900px;
  margin:auto;
  font-size:1.1rem;
  text-align:center;
}
.randomBild{
  width:600px;
  margin:auto;
  margin-bottom:100px;
}
img.tisch{
  width:600px;
}
.HauptteilJobs{
  width:100%;
  margin:auto;
}
.hEinleitungssatz{
  margin:auto;
  text-align:center;
}
p.heinleitungssatz{
  font-family:"Graviton-LedRegular";
  font-size:3rem;
  color:white;
}
.einführung,.aufgaben{
  width:800px;
  background:white;
  margin:auto;
  height:450px;
  margin-top:100px;
}
img.imgeinführung{
  width:300px;
  height:300px;
  float:left;
  margin-left:10px;
  margin-top:75px;
  
}
.einführungText,.aufgabenText{
  width:490px;
  display:inline-block;
}
.hEinführungstext,.hAufgabenText{
  font-size:2.3rem;
  font-weight:500;
  text-align:center;
}
p.heinführungstext,p.haufgabenText{
  font-family:"Graviton-LedRegular";
  margin-bottom:0;
  margin-top:20px;
}
.pEinführungstext,.pAufgabenText{
  margin:20px 20px 20px 20px;
}

img.imgaufgaben{
  width:300px;
  height:300px;
  float:right;
  margin-right:10px;
  margin-top:75px;
}
ul.paufgabenText{
  margin-top:0px;
}
.Profil,.angebot{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:600px;
}
.angebot2{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:600px;
}
img.imgprofil{
  width:300px;
  height:300px;
  float:left;
  margin-left:10px;
  margin-top:150px;
}
img.imgangebot{
  width:300px;
  height:300px;
  float:right;
  margin-right:10px;
  margin-top:150px;
}

p.peinführungText{
  font-size:1.1rem;
}
.einführung2{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:850px;
}
img.imgeinführung2{
  width:300px;
  height:300px;
  float:left;
  margin-left:10px;
  margin-top:275px;
}
.aufgaben2{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:500px;
}
img.imgaufgaben2{
  width:300px;
  height:300px;
  float:right;
  margin-right:10px;
  margin-top:100px;
}
.Profil2{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:1000px;
}
img.imgprofil2{
  width:300px;
  height:300px;
  float:left;
  margin-left:10px;
  margin-top:350px;
}
.einführungBild{
  width:300px;
}
.einführungBild2{
  width:300px;
}
.einführung3{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:550px;
}
img.imgeinführung31,img.imgeinführung3,img.imgeinführung32{
  width:200px;
  height:200px;
  float:left;
  margin-left:60px;
  margin-right:50px;
  margin-top:33px; 
}
.aufgaben3{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:1050px;
}
img.imgaufgaben3{
  width:300px;
  height:300px;
  float:right;
  margin-right:10px;
  margin-top:375px;
}
.profil3{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:1000px;
}
img.imgprofil3{
  width:300px;
  height:300px;
  float:left;
  margin-left:10px;
  margin-top:350px;
}
.angebot3{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:750px;
}
img.imgangebot3{
  width:300px;
  height:300px;
  float:right;
  margin-right:10px;
  margin-top:225px;
}
.einführung4{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:800px;
}
img.imgeinführung4{
  width:300px;
  height:300px;
  float:left;
  margin-left:10px;
  margin-top:250px;
}
.aufgaben4{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:650px;
}
img.imgaufgaben4{
  width:300px;
  height:300px;
  float:right;
  margin-right:10px;
  margin-top:175px;
}
.profil4{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:1000px;
}
.profil5{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:900px;
}
img.imgprofil5{
  width:300px;
  height:300px;
  float:left;
  margin-left:10px;
  margin-top:300px;
}
img.imgprofil4{
  width:300px;
  height:300px;
  float:left;
  margin-left:10px;
  margin-top:350px;
}
.angebot4{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:750px;
}
.angebot5{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:700px;
}
img.imgangebot4{
  width:300px;
  height:300px;
  float:right;
  margin-right:10px;
  margin-top:225px;
}
.einführung5{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:500px;
}
.einführung6{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:450px;
}
img.imgeinführung5{
  width:300px;
  height:300px;
  float:left;
  margin-left:10px;
  margin-top:100px;
}
.aufgaben5{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:900px;
}
img.imgaufgaben5{
  width:300px;
  height:300px;
  float:right;
  margin-right:10px;
  margin-top:300px;
}
.aufgaben6{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:700px;
}
img.imgaufgaben6{
  width:300px;
  height:300px;
  float:right;
  margin-right:10px;
  margin-top:200px;
}
.profil6{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:700px;
}
img.imgprofil6{
  width:300px;
  height:300px;
  float:left;
  margin-left:10px;
  margin-top:200px;
}
.angebot6{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:850px;
}
img.imgangebot6{
  width:300px;
  height:300px;
  float:right;
  margin-right:10px;
  margin-top:275px;
}
.einführung7{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:600px;
}
img.imgeinführung7{
  width:300px;
  height:300px;
  float:left;
  margin-left:10px;
  margin-top:150px;
}
.aufgaben7{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:1000px;
}
img.imgaufgaben7{
  width:300px;
  height:300px;
  float:right;
  margin-right:10px;
  margin-top:350px;
}
.profil7{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:800px;
}
img.imgprofil7{
  width:300px;
  height:300px;
  float:left;
  margin-left:10px;
  margin-top:250px;
}
.angebot7{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:700px;
}
img.imgangebot7{
  width:300px;
  height:300px;
  float:right;
  margin-right:10px;
  margin-top:200px;
}
.TWIT{
  margin:5px;
}
.einführung8{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:450px;
}
img.imgeinführung8{
  width:300px;
  height:300px;
  float:left;
  margin-left:10px;
  margin-top:75px;
}
.aufgaben8{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:650px;
}
img.imgaufgaben8{
  width:300px;
  height:300px;
  float:right;
  margin-right:10px;
  margin-top:175px;
}
.profil8{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:550px;
}
img.imgprofil8{
  width:300px;
  height:300px;
  float:left;
  margin-left:10px;
  margin-top:125px;
}
.angebot8{
  width:800px;
  background:white;
  margin:auto;
  margin-top:100px;
  height:450px;
}
img.imgangebot8{
  width:300px;
  height:300px;
  float:right;
  margin-right:10px;
  margin-top:75px;
}

.container{
  
  padding-top:5px;
  padding-left:0;
  padding-right:0;
  width:100%;
  margin:auto;
  

}
.container2{
  background:white;
  width:600px;
  margin:auto;
  margin-top:80px;
  padding-top:40px;
  padding-bottom:40px;
}
.error-message {
  color: red;
  display: none;
}
.form-group,.form-group2{
  font-size:1.1rem;
  font-family: dinregular, Helvetica, Arial, sans-serif;
  display:inline-block;
  width:200px;
  height:50px;
  margin:20px 0px 00px 66px;
}
.form-group2{
  margin-top:100px;
  float:left;
  
}
.abschicken{
  margin-top:100px;
  text-align: center;
}
.abschicken{
  margin-bottom:50px;
}
button.Abschicken{
  border-style:solid;
  border-width:1px;
  border-color:white;
  color:white;
  font-size:1rem;
  font-family:dinregular, Helvetica, Arial, sans-serif ;
  padding:7px 117px 7px 117px;
  opacity: 0.75;
  display: inline-block;
  background:rgba(0,0,0,0)
}
button.Abschicken:hover{
  opacity: 1;
  cursor:pointer;
  color:white;
  background:#97d700;
  border-color:#97d700;
}
.schrift{
  width:100%;
}
span.note{
  font-size: 0.9rem;
}
.Berufe{
  margin-top:100px;
  margin-bottom:100px;
}
.responsive-text,a.resposive-text {
  font-size: 16px;
}
.Zeile{
  margin-bottom:30px;
}
.w100{
  width:100%;
}
.zitat{
  padding-top:5px;
}

/* Media Query für Bildschirme kleiner als 1200px */
@media (max-width: 1200px) {
  .responsive-text ,a.resposive-text {
    font-size: 16px;
  }
  .alleBenefits{
    width:350px;
    height:initial;
    display:block;
  }
  .bilderBenefits{
    margin:auto;
    width:125px;
    height:100px;
  }
  .texteBenefits{
    width:350px;
    margin-left:0;
  }
  .benefit1,.benefit2,.benefit3,.benefit4,.benefit5,.benefit6,.benefit7,.benefit8,.benefit9{
    margin-left:0;
    display:block;
    width:350px;
    margin-top:20px;
    height:initial;
    margin-bottom:0;

  }
  .Einwilligungserklärung{
    width:100%;
  }
  
 

 
}
@media (max-width: 1100px) {
  .was{
    width:350px;
  }
  .wasText{
    float:none;
    width:350px;
    height:450px;
  }
  p.hwasText{
    padding-top:20px;
  }
  
  .video{
    display:block;
    width:350px;
  }
  .iframe1{
    width:350px;
    height:200px;
  }
}
@media (max-width: 1000px) {
  .hBerufe{
    width:100%;
    text-align:center;
    font-size:1.5rem;
    margin-top:50px;
  }
  p.hberufe{
    font-size:2.4rem;
  }
  .Berufe{
    margin-right:0;
    margin-left:0;
    width:300px;
    margin:auto;
  }
  .zeile1,.zeile2,.zeile3,.zeile4{
    width:300px;
    height:1450px;
    margin:auto;
  }
  img.img1,img.img2,img.img3,img.img4{
    margin-top:0;
    margin-right:0;
  }
  .imgZeile1,.imgZeile2,.imgZeile3,.imgZeile4{
    margin:auto;
    width:100px;
    height:100px;
    margin-right:0;
  }
  .Consultant_Sharepoint,.ConsultantWindowsClient{
    margin-left:0;
    margin-top:250px;
  }
  .ConsultantPowerPlatform,.ConsultantM365 ,.CloudSecurityConsultant,.ITProzessmanager,.SeniorSolutionArchitect,.WerkstudentIT{
    margin-left:0;
    margin-top:50px;
  }
  .buttons{
    margin:auto;
    width:300px;
  }
  button.zeigen,button.verstecken{
    margin-right:0;
    margin-left:0;
    width:300px;
    float:none;
  }
  .Initiativbewerbung{
    margin-top:0;
  }
}


/* Media Query für Bildschirme kleiner als 992px */
@media (max-width: 992px) {
  .responsive-text ,a.resposive-text{
    font-size: 16px;
  }
  .randomBild,img.tisch{
    width:350px;
    height:200px;
  }
  img.logoHeader,a.logo{
    margin:1px 1px 1px 1px;
  }
  .text{
    margin-top:0;
    width:140px;
    text-align:right;
    margin-right:0;
  }
  .verbindung{
    background:grey;
    margin-top:0;
    border-radius:20px;
    margin-bottom:1px;
    text-align:left;
    height:160px;
  }
  .Home{
    margin-top:5px;
    margin-bottom:5px;
    font-weight:100;
    opacity:0.75;
  }
  li.liverbindung,ul.ulverbindung{
    margin:0;
    padding:0;
    width:130px;
     height:50px;
  }
  .Einleitung,.benefitsKasten{
    width:350px;
    height:700px;
    text-align:left;
  }
  img.einleitungBild,.bildEinleitung,.bildBenefits,img.reeperbahnAusgang{
    width:350px;
    height:300px;
  }
  .innereEinleitung{
    margin-left:0;
    padding-top:0;
    display:block;
    width:350px;
    height:500px;
    padding-left:30px;
    padding-right:30px;
    
  }
  p.Ueberschrift,p.Einleitungstext{
    margin-left:0px;
  }
  p.Einleitungstext{
    font-size:16px;
  }
  p.Ueberschrift,p.hbenefits{
    margin-top:20px;
  }
  .textBenefits{
    height:500px;
    width:350px;
    margin-left:0;
    padding-left:30px;
    padding-right:30px;
  }
  p.benefitstext,p.hbenefits{
    margin-right:0;
    
  }
  p.benefitstext{
    font-size:16px;
  }
  .hBerufe{
    width:100%;
    text-align:center;
    font-size:1.5rem;
    margin-top:50px;
  }
  p.hberufe{
    font-size:2.4rem;
  }
  .Berufe{
    margin-right:0;
    margin-left:0;
    width:300px;
    margin:auto;
  }
  .zeile1,.zeile2,.zeile3,.zeile4{
    width:300px;
    height:1450px;
    margin:auto;
  }
  img.img1,img.img2,img.img3,img.img4{
    margin-top:0;
    margin-right:0;
  }
  .imgZeile1,.imgZeile2,.imgZeile3,.imgZeile4{
    margin:auto;
    width:100px;
    height:100px;
    margin-right:0;
  }
  .Consultant_Sharepoint,.ConsultantWindowsClient{
    margin-left:0;
    margin-top:250px;
  }
  .ConsultantPowerPlatform,.ConsultantM365 ,.CloudSecurityConsultant,.ITProzessmanager,.SeniorSolutionArchitect,.WerkstudentIT{
    margin-left:0;
    margin-top:50px;
  }
  .buttons{
    margin:auto;
    width:300px;
  }
  button.zeigen,button.verstecken{
    margin-right:0;
    margin-left:0;
    width:300px;
    float:none;
  }
  .Initiativbewerbung{
    margin-top:0;
  }
  a.initiativBewerbung{
    padding-right:50px;
    padding-left:50px;
  }
  .footer{
    width:300px;
    height:950px;
  }
  h3.UeberschriftFooter{
    width:300px;
    font-size:2.3rem;
  }
  .GmbH{
    width:300px;
    text-align:center;
    height:200px;
  }
  p.ueberschrifth6{
    float:none;
  }
  p.motivation{
    float:none;
  }
  .Kontakt{
  display:block;
  margin:0;
  text-align:center;
  width:300px;
  margin-bottom:50px;
  }
  .FolgeUns{
    display:block;
    margin:0;
    text-align:center;
    width:300px;
    margin-bottom:50px;
  }
  .untereBox{
    display:block;
    float:none;
    margin:auto;
    text-align:center;
    width:300px;
  }
  .main{
    width:300px;
    margin-top:250px;
  }
  .Hauptteilüs{
    width:350px;
    margin:auto;
  }
  .was{
    width:350px;
  }
  .wasText{
    float:none;
    width:350px;
  }
  .video{
    display:block;
    width:350px;
  }
  .iframe1{
    width:350px;
    height:200px;
  }
  .rechts{
    width:300px;
    height:3300px;
  }
  .DHtext,.NLtext,.KMtext,.SGtext,.SStext,.MLtext,.PTtext{
    margin-left:0;
    margin-right:0;
    width:300px;
    margin:auto;
  }
  .DHbild,.NLbild,.KMbild,.SGbild,.SSbild,.MLbild,.PTbild{
    float:none;
    margin:auto;
    width:150px;
  }
  .DH,.NL,.KM,.SG,.SS,.ML,.PT{
    width:300px;
    height:400px;
    display:block;
    text-align:center;
  }
  .DH{
    height:360px;
  }
  .SS{
    height:220px;
  }
  .NL,.ML{
    height:410px;
  }
  .KM,.SG{
    height:460px;
  }
  .PT{
    height:530px;
  }
  .links,.kultur,.Nachhaltigkeit{
    width:350px;
  }
  .kultur{
    margin-top:100px;
    height:950px;
  }
  p.hkultur,p.hnachhaltigkeit{
    padding-top:10px;
  }
  p.hnachhaltigkeit{
    padding-top:360px;
  }
  
  .Nachhaltigkeit{
    margin-bottom:100px;
    height:1700px;
    text-align:left;
  }
  
  .hNachhaltigkeit{
    width:100%;
    text-align:left;
    padding-left:30px;
  }
  ul.ul1{
    font-size:16px;
  }
  .pnachhaltigkeit{
    padding-left:30px;
    padding-right:30px;
    font-size:16px;
    
  }

  img.imgkultur,img.imgnachhaltigkeit{
    width:350px;
    height:350px;
    float:none;
    margin-top:0px;

  }
  .imgKultur,.imgNachhaltigkeit{
    height:350px;
  }
  .textKultur,.textNachhaltigkeit{
    float:none;
    width:350px;
    height:450px;
    margin-top:0;
    
  }
  .textKultur{
    text-align:left;
    padding-left:30px;
    height:400px;
  }
  p.pkultur{
    padding-left:0;
    font-size:16px;
  }
  .textNachhaltigkeit{
    height:1700px;

  }
  img.imgnachhaltigkeit2,img.imgnachhaltigkeit3{
    display: none;
  }
  .bEinleitung{
    width:350px;
    height:1000px;
  }
  .bildbEinleitung,img.imgbEinleitung{
    width:350px;
    height:350px;
  }
  .mainTextb{
    width:350px;
  }
  
  .form-group,.form-group2{
    margin-left:50px;
  }
  input.zu_lang{
    width:300px;
    font-size:12px;
  }
  .checkbox-group{
    margin-top:50px;
  }
  button.Abschicken{
    padding-left:50px;
    padding-right:50px;

  }
  .Home{
    margin-right:2px;
  }
  .text{
    margin-top:10px;
  }
  a.logo{
    padding-top:6px;
  }

}
@media (max-width: 900px) {
  .responsive-text ,a.resposive-text{
    font-size: 20px;
  }
  .pEinwilligung{
    width:100%;
  }
}
/* Media Query für Bildschirme kleiner als 768px */
@media (max-width: 800px) {
  .responsive-text ,a.resposive-text{
    font-size: 20px;
  }
  
  .HauptteilJobs,.hEinleitungssatz{
    width:350px;
  }
  p.heinleitungssatz{
    font-size:2rem;
  }
  .einführung{
    width:350px;
    height:900px;
  }
  .aufgaben{
    width:350px;
    height:1000px;
  }
  .Profil{
    width:350px;
    height:1300px;
  }
  .angebot{
    width:350px;
    height:1300px;
  }
  .einführung2{
    width:350px;
    height:1500px;
  }
  .aufgaben2{
    width:350px;
    height:1200px;
  }
  .Profil2{
    width:350px;
    height:1800px;
  }
  .angebot2{
    width:350px;
    height:1100px;
  }
  .einführung3{
    width:350px;
    height:900px;
  }
  .aufgaben3{
    width:350px;
    height:1800px;
  }
  .profil3{
    width:350px;
    height:1850px;
  }
  .angebot3{
    width:350px;
    height:1400px;
  }
  .einführung4{
    width:350px;
    height:1600px;
  }
  .aufgaben4{
    width:350px;
    height:1300px;
  }
  .profil4{
    width:350px;
    height:1600px;
  }
  .angebot4{
    width:350px;
    height:1400px;
  }
  .einführung5{
    width:350px;
    height:1050px;
  }
  .aufgaben5{
    width:350px;
    height:1700px;
  }
  .profil5{
    width:350px;
    height:1700px;
  }
  .angebot5{
    width:350px;
    height:1300px;
  }
  .einführung6{
    width:350px;
    height:950px;
  }
  .aufgaben6{
    width:350px;
    height:1500px;
  }
  .profil6{
    width:350px;
    height:1400px;
  }
  .angebot6{
    width:350px;
    height:1600px; 
  }
  .einführung7{
    width:350px;
    height:1200px;
  }
  .aufgaben7{
    width:350px;
    height:1900px;
  }
  .profil7{
    width:350px;
    height:1550px;
  }
  .angebot7{
    width:350px;
    height:1350px;
  }
  .einführung8{
    width:350px;
    height:1100px;
  }
  .aufgaben8{
    width:350px;
    height:1300px;
  }
  .profil8{
    width:350px;
    height:1200px;
  }
  .angebot8{
    width:350px;
    height:1050px;
  }
  .einführungBild,img.imgeinführung,.aufgabenBild,img.imgaufgaben,img.imgprofil,img.imgangebot,img.imgeinführung2,img.imgaufgaben2,img.imgprofil2,img.imgaufgaben3,img.imgprofil3,img.imgangebot3,img.imgeinführung4,img.imgaufgaben4
  ,img.imgprofil4,img.imgangebot4,img.imgeinführung5,img.imgaufgaben5,img.imgaufgaben6,img.imgprofil6,img.imgangebot6,img.imgeinführung7
  ,img.imgaufgaben7,img.imgprofil7,img.imgangebot7,img.imgeinführung8,img.imgaufgaben8,img.imgprofil8,img.imgangebot8{
    
    width:350px;
    height:350px;
    margin:0 0 0 0;
    float:none;
  }
  .einführungText,.aufgabenText{
    width:350px;
  }
  .einführungBild2{
    width:350px;
    height:175px;
  }
  img.imgeinführung31{
    height:175px;
    margin:0 0 0 0;
    float:left;
    width:175px;
  }
  img.imgeinführung32{
    height:175px;
    width:175px;
    margin:0 0 0 0;
    float:right;
  }
  .container{
    width:300px;
  }
  .container2{
    width:300px;
  }

}
/* Media Query für Bildschirme kleiner als 576px */
@media (max-width: 600px) {
  .responsive-text ,a.resposive-text{
    font-size: 20px;
  }
  p.Karriereportal,p.hBenefits{
    font-size:2.5rem;
    margin-bottom:50px;
  }
  .container{
    width:300px;
  }
  .container2{
    width:300px;
  }
}
