@font-face {
  font-family: "Graviton-LedRegular";
  src: url(Graviton-LedRegular.otf);
}

body
{    background: linear-gradient(rgb(52, 72, 83) 0%, rgba(40, 66, 80, 0.733) 40%, rgba(40, 66, 80, 0.733) 60%, rgb(52, 72, 83) 100%) 0% 0% / cover; }
p,div.text{
  font-family: dinregular, Helvetica, Arial, sans-serif;
}
img.logoHeader{
  margin-top:30px;
}
a.jobs2:visited,a.jobs3:visited,a.ueber_uns1:visited,a.ueber_uns3:visited,a.benefits1:visited,a.benefits2:visited,a.jobs2,a.jobs3,a.ueber_uns1,a.ueber_uns3,a.benefits1,a.benefits2{
  color: white;
  text-decoration: none;
  font-size:1.1rem;
}
a.jobs1,a.ueber_uns2,a.benefits3,a.jobs2:hover,a.jobs3:hover,a.ueber_uns1:hover,a.ueber_uns3:hover,a.benefits1:hover,a.benefits2:hover{
  color:#97d700;
  text-decoration:none;
  font-size:1.1rem;
}

a.jobs1, .jobs2, .jobs3, .ueber_uns1 ,.ueber_uns2,.ueber_uns3,.benefits1,.benefits2,.benefits3,a.home {
  margin: 8px 0 20px 14px;
}
.Zeile{
  width: 100%;
  height: 180px;
  display: block;
}
.innere_Zeile{
  width:1000px;
  height:100%;
  display:block;
  margin: auto;
  
  
}
.logo{
  height:100%;
  display: table;
  float:left;
  vertical-align:middle;
}
.text{
  float:right;
}
.Home,.verbindung{
  float:right;
  display:block;
  
}
.verbindung{
  margin-top: 60px;
}
.Home{
  margin-top:30px;
}
a.home{
  color: white;
  text-decoration: none;
  font-size:1.0rem;
}
a.home:hover{
  color:#97d700;
  text-decoration:none;
  font-size:1.0rem;
}
.footer{
  width: 1000px;
  height:475px;
  display:block;
  margin:auto;
  text-align: center;
  
  color:white;
}
h3.UeberschriftFooter{
  font-family: "Graviton-LedRegular";
  font-size: 3rem;
  font-weight: 400;
  margin-bottom:0;
  
}
.GmbH{
  margin: auto;
  width: 700px;
  height:100px;
  
  text-align:left;
  margin-top:20px;
}

.untereBox{
  display:flex;
  margin:auto;
  width:450px;
  height:150px;
  
}
.Kontakt{
  margin: auto;
  width:250px;
  height:150px;
  
  
  text-align:left;
}
.FolgeUns{
  margin:auto;
  
  width:200px;
  height:150px;
  
  text-align:left
}
p.ueberschrifth6{
  font-size:1.25rem;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  margin-bottom:0;
  margin-top:0;
  float:left;
}
p.copyright{
  margin-bottom:20px;
}
.main{
  width:1000px;
  height:100px;
  

}
p.motivation{
  margin-top:0;
}
a.linksFooter{
  color:white;
  text-decoration:none;
  font-size: 1rem;
  font-family:dinregular, Helvetica, Arial, sans-serif ;
  
}
a.linksFooter:hover{
  color:#97d700;
}
a.mainLink{
  border-style:solid;
  border-width:1px;
  color:rgba(255,255,255,0.75);
  text-decoration:none;
  font-size: 1rem;
  font-family:dinregular, Helvetica, Arial, sans-serif ;
  padding:2px 5px 2px 5px;
}
a.mainLink:hover{
  color:white;
  background:#97d700;
  border-color:#97d700;
}
.Hauptteil{
  margin:auto;
  width:1200px;
  /*background-color: beige;*/
  margin-top: 50px;
  
}
.Initiativbewerbung{
  margin:auto;
  width:700px;
}
a.initiativBewerbung{
  border-style:solid;
  border-width:1px;
  color:white;
  font-size:1rem;
  font-family:dinregular, Helvetica, Arial, sans-serif ;
  padding:7px 117px 7px 117px;
  opacity: 0.75;
  display: inline-block;
}
a.initiativBewerbung,a.hier{
  text-decoration:none; 
}
a.initiativBewerbung:hover{
  opacity: 1;
}
a.initiativBewerbung:hover{
  color:white;
  background:#97d700;
  border-color:#97d700;
  
}
.Einleitung, .benefitsKasten{
  margin:auto;
  background-color:white;
  color:black;
  width:1000px;
  height:500px;
  text-align: center;
  transition: background-color 0.3 ease;
}
p.Ueberschrift{
  font-size:3rem;
  margin-top:60px;;
  margin-left:600px;
  font-family:"Graviton-LedRegular" ;
  font-weight:200;
}
.innereEinleitung{
  padding-top:25px;
  margin: 0px 25px 25px 25px;
}
a.hier:hover .Einleitung, a.abenefits:hover .benefitsKasten{
  color:white;
  background:#97d700;
  
}
img.headBild{
  width:100%;
  height:400px;
}
img.einleitungBild{
  width:600px;
  height:500px;
  float:left;
}
.karriereportal{
  margin:auto;
  text-align:center;
}
p.Karriereportal{
  font-size: 4rem;
  font-family: "Graviton-LedRegular";
  color:white;
}
p.Einleitungstext{
  margin-left:600px;
  font-size:1.1rem;
}
p.hbenefits{
  font-size:3rem;
  margin-top:60px;;
  margin-right:600px;
  font-family:"Graviton-LedRegular" ;
  font-weight:200;
}
a.abenefits{
  text-decoration: none;
  
}
.textBenefits{
  padding-top:25px;
  margin: 0px 25px 25px 25px;
}
.benefitsKasten{
  margin-top:100px;
  
}

img.reeperbahnAusgang{
  float:right;
  width:600px;
  height:500px;
}
p.hberufe{
  font-size:3rem;
  font-family: "Graviton-LedRegular";
  color:white;
}
.hBerufe{
  text-align:center;
  margin:auto;
}
.zeile1, .zeile2, .zeile3, .zeile4{
  margin:auto;
  width:1000px;
  height:500px;
  /*background-color:aqua;*/
}
img.img1, img.img3{
  margin-top:100px;
  width:300px;
  height:300px;
}
img.img3{
  transform: scaleX(-1);
}
.imgZeile1, .imgZeile3{
  float:left;
  height:500px;
  height:300px;
}
.berufe1{
  
  color:black;
}
.CloudSecurityConsultant, .ConsultantM365, .SeniorSolutionArchitect,.WerkstudentIT{
  height:500px;
  width:300px;
  margin-right:45px;
  background-color:white;
  display:inline-block;
  text-align:center;
}
.Consultant_Sharepoint, .ConsultantPowerPlatform, .ConsultantWindowsClient, .ITProzessmanager {
  height:500px;
  width:300px;
  margin-left:45px;
  background-color:white;
  display:inline-block;
  text-align:center;
}
.bilderZeilen{
  width:300px;
  height:300px;
  display:flex;
  overflow:hidden;
  align-items: center;
  justify-content: center;
}
img.imgZeilen{
  width:300px;
  height:300px;
}
img.CWC, img.SSA{
  
  width:500px;
}
img.ITP{
  width:550px;
}
img.CSC{
  width:430px;
}
img.CPP{
  width:450px;
}

h4{
  margin:20px 10px 10px 10px;
  font-size:1.6rem;
  font-family:"Graviton-LedRegular";
  font-weight: 300;

}
p.berufText{
  margin:20px 10px 10px 10px;
}
button.zeigen, button.verstecken{
  float:right;
  margin: 30px 105px 100px 0;
  background-color: rgba(0,0,0,0);
  color:rgba(255,255,255,0.75);
  border-style:solid;
  cursor: pointer;
  border-color:white;
  border-width:1px;
  padding-right:20px; padding-left:20px; padding-top:3px; padding-bottom:3px;
}
button.zeigen:hover, button.verstecken:hover{
  background:#97d700;
  color:rgba(255,255,255,1);
  border-color: #97d700;
}
.content{
  display:none;
}
button.verstecken{
  display:none;
}
a.linksBerufe{
  color:black;
  text-decoration:none;
}
a.linksBerufe:hover .ConsultantPowerPlatform ,a.linksBerufe:hover .Consultant_Sharepoint, a.linksBerufe:hover .CloudSecurityConsultant,
a.linksBerufe:hover .ConsultantM365,a.linksBerufe:hover .ConsultantWindowsClient,a.linksBerufe:hover .ITProzessmanager,a.linksBerufe:hover .SeniorSolutionArchitect,
a.linksBerufe:hover .WerkstudentIT{
  color:white;
  background:#97d700;
}
img.img2,img.img4{
  margin-top:100px;
  width:300px;
  height:300px;
  float:right;
}
.zeile2,.zeile3, .zeile4{
  margin-top: 100px;
}
.CloudSecurityConsultant,.SeniorSolutionArchitect{
  float:left;
}
.ITProzessmanager{
  float:right
}
p.benefitstext{
  margin-right:600px;
  font-size:1.1rem;
}
/*Über uns hauptteil*/
.Hauptteilüs{
  margin:auto;
  width:1400px;
  
}
.was{
  width:1100px;
  background:white;
  margin:auto;
}
.wasText{
  width:440px;
  float:left;
  text-align:center;
  
}
.video{
  width:500px;
  display:inline-block;
  margin:10px 0 10px 0;
  
}
p.hwasText{
  font-family:"Graviton-LedRegular";
  font-size: 2.3rem;
}
p.pwasText{
  padding-left:20px; padding-right:20px;
  
}
.links{
  background:pink;
  width:700px;
  float:left;
}
.rechts{
  background: moccasin;
  width:700px;
}
.kultur{
  width:700px;

}
img.imgkultur{
  width:200px;
  height:400px;
}