@font-face {
  font-family: "Graviton-LedRegular";
  src: url(Graviton-LedRegular.otf);
}
body
{    background: linear-gradient(rgb(52, 72, 83) 0%, rgba(40, 66, 80, 0.733) 40%, rgba(40, 66, 80, 0.733) 60%, rgb(52, 72, 83) 100%) 0% 0% / cover; }
a.jobs2:visited,a.jobs3:visited,a.ueber_uns1:visited,a.ueber_uns3:visited,a.benefits1:visited,a.benefits2:visited,a.jobs2,a.jobs3,a.ueber_uns1,a.ueber_uns3,a.benefits1,a.benefits2{
  color: white;
  text-decoration: none;
  font-size:1.1rem;
}
a.jobs1,a.ueber_uns2,a.benefits3,a.jobs2:hover,a.jobs3:hover,a.ueber_uns1:hover,a.ueber_uns3:hover,a.benefits1:hover,a.benefits2:hover{
  color:#97d700;
  text-decoration:none;
  font-size:1.1rem;
}

p,div.text{
  font-family: dinregular, Helvetica, Arial, sans-serif;
}
a.jobs1, .jobs2, .jobs3, .ueber_uns1 ,.ueber_uns2,.ueber_uns3,.benefits1,.benefits2,.benefits3,a.home {
  margin: 8px 0 20px 14px;
}
.Zeile{
  width: 100%;
  height: 180px;
  display: block;
}
.innere_Zeile{
  width:1000px;
  height:100%;
  display:block;
  margin: auto;
  
  
}
.logo{
  height:100%;
  display: table;
  float:left;
  vertical-align:middle;
}
.text{
  float:right;
}
.Home,.verbindung{
  float:right;
  display:block;
  
}
.verbindung{
  margin-top: 60px;
}
.Home{
  margin-top:30px;
}
a.home{
  color: white;
  text-decoration: none;
  font-size:1.0rem;
}
a.home:hover{
  color:#97d700;
  text-decoration:none;
  font-size:1.0rem;
}
.footer{
  width: 1000px;
  height:475px;
  display:block;
  margin:auto;
  text-align: center;
  
  color:white;
}
h3.UeberschriftFooter{
  font-family: "Graviton-LedRegular";
  font-size: 3rem;
  font-weight: 400;
  margin-bottom:0;
  
}
.GmbH{
  margin: auto;
  width: 700px;
  height:100px;
  
  text-align:left;
  margin-top:20px;
}

.untereBox{
  display:flex;
  margin:auto;
  width:450px;
  height:150px;
  
}
.Kontakt{
  margin: auto;
  width:250px;
  height:150px;
  
  
  text-align:left;
}
.FolgeUns{
  margin:auto;
  
  width:200px;
  height:150px;
  
  text-align:left
}
p.ueberschrifth6{
  font-size:1.25rem;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  margin-bottom:0;
  margin-top:0;
  float:left;
}
p.copyright{
  margin-bottom:20px;
}
.main{
  width:1000px;
  height:100px;
  

}
p.motivation{
  margin-top:0;
}
a.linksFooter{
  color:white;
  text-decoration:none;
  font-size: 1rem;
  font-family:dinregular, Helvetica, Arial, sans-serif ;
  
}
a.linksFooter:hover{
  color:#97d700;
}
a.mainLink{
  border-style:solid;
  border-width:1px;
  color:white;
  text-decoration:none;
  font-size: 1rem;
  font-family:dinregular, Helvetica, Arial, sans-serif ;
  padding:2px 2px 2px 2px;
}
a.mainLink:hover{
  color:white;
  background:#97d700;
  border-color:#97d700;
}
.Hauptteil{
  margin:auto;
  width:1200px;
  background-color: beige;
  margin-top: 100px;
  
}
.Initiativbewerbung{
  margin:auto;
  width:700px;
}
a.initiativBewerbung{
  border-style:solid;
  border-width:1px;
  color:white;
  font-size:1rem;
  font-family:dinregular, Helvetica, Arial, sans-serif ;
  padding:7px 117px 7px 117px;
  opacity: 0.75;
  display: inline-block;
}
a.initiativBewerbung,a.hier{
  text-decoration:none; 
}
a.initiativBewerbung:hover{
  opacity: 1;
}
a.initiativBewerbung:hover{
  color:white;
  background:#97d700;
  border-color:#97d700;
  
}
.Einleitung{
  margin:auto;
  background-color:white;
  color:black;
  width:700px;
  height:220px;
  text-align: center;
  transition: background-color 0.3 ease;
}
p.Ueberschrift{
  font-size:2rem;
  margin-top:0;
  font-family:"Graviton-LedRegular" ;
}
.innereEinleitung{
  padding-top:25px;
  margin: 0px 25px 25px 25px;
}
a.hier:hover .innerEinleitung{
  color:white;
  background:#97d700;
  border-color:#97d700; 
  width:720px;
  height:240px;
}
.headBild{
  width:100%;
  height:400px;
}